<div class="container">
  <mat-spinner *ngIf="isFetching"></mat-spinner>
  <div class="row">
      <div class="col-12">
        <div class="grid" *ngIf="!renderError&&!isFetching">
          <ng-container *ngFor="let accommodationEl of accommodations">
            <mat-card>
              <app-accomodation [slides]="imagesToSlides(accommodationEl.images)" [accommodation]="accommodationEl"></app-accomodation>
            </mat-card>
          </ng-container>
      </div>
      <div class="alert alert-danger" *ngIf="renderError">
        <h1>An Error Ocurred</h1>
        <p>{{renderError}}</p>
        <button class="btn btn-danger" (click) = "getAccommodations()">Okay</button>
      </div>
    </div>
  </div>
</div>
