USE [master]
GO
/****** Object:  Database [BookedUYDB]    Script Date: 10/15/2020 3:20:38 PM ******/
CREATE DATABASE [BookedUYDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookedUYDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BookedUYDB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BookedUYDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BookedUYDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookedUYDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookedUYDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/15/2020 3:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccommodationImages]    Script Date: 10/15/2020 3:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccommodationImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[AccommodationId] [int] NOT NULL,
 CONSTRAINT [PK_AccommodationImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accommodations]    Script Date: 10/15/2020 3:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accommodations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SpotId] [int] NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[ContactNumber] [nvarchar](max) NULL,
	[Information] [nvarchar](max) NULL,
	[PricePerNight] [float] NOT NULL,
	[Full] [bit] NOT NULL,
 CONSTRAINT [PK_Accommodations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Administrators]    Script Date: 10/15/2020 3:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrators](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Administrators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 10/15/2020 3:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccommodationId] [int] NOT NULL,
	[CheckIn] [datetime2](7) NOT NULL,
	[CheckOut] [datetime2](7) NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[GuestId] [int] NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingStages]    Script Date: 10/15/2020 3:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingStages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdministratorId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[EntryDate] [datetime2](7) NOT NULL,
	[AsociatedBookingId] [int] NOT NULL,
 CONSTRAINT [PK_BookingStages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/15/2020 3:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoryTouristicSpots]    Script Date: 10/15/2020 3:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoryTouristicSpots](
	[CategoryId] [int] NOT NULL,
	[TouristicSpotId] [int] NOT NULL,
 CONSTRAINT [PK_categoryTouristicSpots] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC,
	[TouristicSpotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guest]    Script Date: 10/15/2020 3:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [int] NOT NULL,
	[Multiplier] [float] NOT NULL,
	[BookingId] [int] NOT NULL,
 CONSTRAINT [PK_Guest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 10/15/2020 3:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TouristicSpots]    Script Date: 10/15/2020 3:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TouristicSpots](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[RegionId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_TouristicSpots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tourists]    Script Date: 10/15/2020 3:20:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tourists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Tourists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200926211654_FirstMigration', N'3.1.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201010193757_SecondMigration', N'3.1.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20201012173906_ThirdMigration', N'3.1.8')
GO
SET IDENTITY_INSERT [dbo].[AccommodationImages] ON 

INSERT [dbo].[AccommodationImages] ([Id], [Image], [AccommodationId]) VALUES (1, N'fotoafuera', 1)
INSERT [dbo].[AccommodationImages] ([Id], [Image], [AccommodationId]) VALUES (2, N'fotohabitacion', 1)
INSERT [dbo].[AccommodationImages] ([Id], [Image], [AccommodationId]) VALUES (3, N'fotojardin', 1)
SET IDENTITY_INSERT [dbo].[AccommodationImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Accommodations] ON 

INSERT [dbo].[Accommodations] ([Id], [SpotId], [Name], [Address], [ContactNumber], [Information], [PricePerNight], [Full]) VALUES (1, 1, N'Hilton', N'Mar Sereno 1045', N'+598', N'Un Hotel muy lindo', 48.2, 0)
SET IDENTITY_INSERT [dbo].[Accommodations] OFF
GO
SET IDENTITY_INSERT [dbo].[Administrators] ON 

INSERT [dbo].[Administrators] ([Id], [Email], [Password]) VALUES (1, N'admin', N'123')
SET IDENTITY_INSERT [dbo].[Administrators] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [AccommodationId], [CheckIn], [CheckOut], [TotalPrice], [GuestId]) VALUES (1, 1, CAST(N'2020-12-12T00:00:00.0000000' AS DateTime2), CAST(N'2020-12-24T00:00:00.0000000' AS DateTime2), 6, 1)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingStages] ON 

INSERT [dbo].[BookingStages] ([Id], [AdministratorId], [Status], [Description], [EntryDate], [AsociatedBookingId]) VALUES (1, 1, 2, N'Se Pago', CAST(N'2020-10-15T15:06:40.1270000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[BookingStages] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Campo')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Historico')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Playa')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[categoryTouristicSpots] ([CategoryId], [TouristicSpotId]) VALUES (1, 1)
INSERT [dbo].[categoryTouristicSpots] ([CategoryId], [TouristicSpotId]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Guest] ON 

INSERT [dbo].[Guest] ([Id], [Amount], [Multiplier], [BookingId]) VALUES (1, 2, 1, 1)
INSERT [dbo].[Guest] ([Id], [Amount], [Multiplier], [BookingId]) VALUES (2, 1, 0.8, 1)
INSERT [dbo].[Guest] ([Id], [Amount], [Multiplier], [BookingId]) VALUES (3, 4, 0.8, 1)
SET IDENTITY_INSERT [dbo].[Guest] OFF
GO
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([Id], [Name]) VALUES (1, N'Region Metropolitana')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (2, N'Region Centro Sur')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (3, N'Region Este')
SET IDENTITY_INSERT [dbo].[Regions] OFF
GO
SET IDENTITY_INSERT [dbo].[TouristicSpots] ON 

INSERT [dbo].[TouristicSpots] ([Id], [Name], [RegionId], [Description], [Image]) VALUES (1, N'La Paloma', 3, N'Pueblo de hermosas playas', N'FOTO')
SET IDENTITY_INSERT [dbo].[TouristicSpots] OFF
GO
SET IDENTITY_INSERT [dbo].[Tourists] ON 

INSERT [dbo].[Tourists] ([Id], [Name], [LastName], [Email]) VALUES (1, N'test', N'lastTest', N'test@test.com')
SET IDENTITY_INSERT [dbo].[Tourists] OFF
GO
/****** Object:  Index [IX_AccommodationImages_AccommodationId]    Script Date: 10/15/2020 3:20:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_AccommodationImages_AccommodationId] ON [dbo].[AccommodationImages]
(
	[AccommodationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Accommodations_Name]    Script Date: 10/15/2020 3:20:39 PM ******/
ALTER TABLE [dbo].[Accommodations] ADD  CONSTRAINT [AK_Accommodations_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accommodations_SpotId]    Script Date: 10/15/2020 3:20:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_Accommodations_SpotId] ON [dbo].[Accommodations]
(
	[SpotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Administrators_Email]    Script Date: 10/15/2020 3:20:39 PM ******/
ALTER TABLE [dbo].[Administrators] ADD  CONSTRAINT [AK_Administrators_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_AccommodationId]    Script Date: 10/15/2020 3:20:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_AccommodationId] ON [dbo].[Bookings]
(
	[AccommodationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_GuestId]    Script Date: 10/15/2020 3:20:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_GuestId] ON [dbo].[Bookings]
(
	[GuestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookingStages_AdministratorId]    Script Date: 10/15/2020 3:20:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_BookingStages_AdministratorId] ON [dbo].[BookingStages]
(
	[AdministratorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookingStages_AsociatedBookingId]    Script Date: 10/15/2020 3:20:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_BookingStages_AsociatedBookingId] ON [dbo].[BookingStages]
(
	[AsociatedBookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Categories_Name]    Script Date: 10/15/2020 3:20:39 PM ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [AK_Categories_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_categoryTouristicSpots_TouristicSpotId]    Script Date: 10/15/2020 3:20:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_categoryTouristicSpots_TouristicSpotId] ON [dbo].[categoryTouristicSpots]
(
	[TouristicSpotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Guest_BookingId]    Script Date: 10/15/2020 3:20:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_Guest_BookingId] ON [dbo].[Guest]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_TouristicSpots_Name]    Script Date: 10/15/2020 3:20:39 PM ******/
ALTER TABLE [dbo].[TouristicSpots] ADD  CONSTRAINT [AK_TouristicSpots_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TouristicSpots_RegionId]    Script Date: 10/15/2020 3:20:39 PM ******/
CREATE NONCLUSTERED INDEX [IX_TouristicSpots_RegionId] ON [dbo].[TouristicSpots]
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Tourists_Email]    Script Date: 10/15/2020 3:20:39 PM ******/
ALTER TABLE [dbo].[Tourists] ADD  CONSTRAINT [AK_Tourists_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookingStages] ADD  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[AccommodationImages]  WITH CHECK ADD  CONSTRAINT [FK_AccommodationImages_Accommodations_AccommodationId] FOREIGN KEY([AccommodationId])
REFERENCES [dbo].[Accommodations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccommodationImages] CHECK CONSTRAINT [FK_AccommodationImages_Accommodations_AccommodationId]
GO
ALTER TABLE [dbo].[Accommodations]  WITH CHECK ADD  CONSTRAINT [FK_Accommodations_TouristicSpots_SpotId] FOREIGN KEY([SpotId])
REFERENCES [dbo].[TouristicSpots] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accommodations] CHECK CONSTRAINT [FK_Accommodations_TouristicSpots_SpotId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Accommodations_AccommodationId] FOREIGN KEY([AccommodationId])
REFERENCES [dbo].[Accommodations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Accommodations_AccommodationId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Tourists_GuestId] FOREIGN KEY([GuestId])
REFERENCES [dbo].[Tourists] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Tourists_GuestId]
GO
ALTER TABLE [dbo].[BookingStages]  WITH CHECK ADD  CONSTRAINT [FK_BookingStages_Administrators_AdministratorId] FOREIGN KEY([AdministratorId])
REFERENCES [dbo].[Administrators] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingStages] CHECK CONSTRAINT [FK_BookingStages_Administrators_AdministratorId]
GO
ALTER TABLE [dbo].[BookingStages]  WITH CHECK ADD  CONSTRAINT [FK_BookingStages_Bookings_AsociatedBookingId] FOREIGN KEY([AsociatedBookingId])
REFERENCES [dbo].[Bookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingStages] CHECK CONSTRAINT [FK_BookingStages_Bookings_AsociatedBookingId]
GO
ALTER TABLE [dbo].[categoryTouristicSpots]  WITH CHECK ADD  CONSTRAINT [FK_categoryTouristicSpots_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[categoryTouristicSpots] CHECK CONSTRAINT [FK_categoryTouristicSpots_Categories_CategoryId]
GO
ALTER TABLE [dbo].[categoryTouristicSpots]  WITH CHECK ADD  CONSTRAINT [FK_categoryTouristicSpots_TouristicSpots_TouristicSpotId] FOREIGN KEY([TouristicSpotId])
REFERENCES [dbo].[TouristicSpots] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[categoryTouristicSpots] CHECK CONSTRAINT [FK_categoryTouristicSpots_TouristicSpots_TouristicSpotId]
GO
ALTER TABLE [dbo].[Guest]  WITH CHECK ADD  CONSTRAINT [FK_Guest_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Guest] CHECK CONSTRAINT [FK_Guest_Bookings_BookingId]
GO
ALTER TABLE [dbo].[TouristicSpots]  WITH CHECK ADD  CONSTRAINT [FK_TouristicSpots_Regions_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TouristicSpots] CHECK CONSTRAINT [FK_TouristicSpots_Regions_RegionId]
GO
USE [master]
GO
