
<mat-toolbar>
    <span class="navbar-brand" routerLink="/">BookedUY</span>
    <span class="nav-link" routerLink="/create-review" >Create Review</span>
    <span class="nav-link" routerLink="/create-spot" *ngIf="isAdmin">Touristic Spots</span>
    <span class="nav-link" routerLink="/adm-accommodation" *ngIf="isAdmin">Accommodations</span>
    <span class="nav-link" routerLink="/adm-bookings" *ngIf="isAdmin">Bookings</span>
    <span class="nav-link"  routerLink="/adm-administrators" *ngIf="isAdmin">Administrators</span>
    <span class="nav-link"  routerLink="/report" *ngIf="isAdmin">Report</span>
    <span class="nav-link"  routerLink="/import" *ngIf="isAdmin">Import</span>
    <span id="login" class="nav-link" *ngIf="!isAdmin" routerLink="/login">LogIn</span>
    <span id="logout" class="nav-link" *ngIf="isAdmin" (click)="logOut()">LogOut</span>
    <button mat-mini-fab (click)="muteAudio()" *ngIf="audioPLaying">
      <mat-icon>music_note</mat-icon>
    </button>
    <button mat-mini-fab (click)="playAudio()" *ngIf="!audioPLaying">
      <mat-icon>music_off</mat-icon>
    </button>
</mat-toolbar>

