<div class="container">
  <div class="row">
    <div class="col-2" *ngIf="!renderErrorCategories">
      <h2>Categories</h2>
      <div *ngFor="let catEl of Categories" >
        <mat-checkbox type="checkbox" [(ngModel)]="catEl.checked" (change)="searchByCategories()">{{catEl.name}}</mat-checkbox>
      </div>
      <div class="alert alert-danger" *ngIf="renderErrorCategories">
        <h1>An Error Ocurred</h1>
        <p>{{renderErrorCategories}}</p>
        <button class="btn btn-danger" (click) = "getCategories()">Okay</button>
      </div>
  </div>
      <div class="col-10">
        <div class="grid" *ngIf="!renderErrorSpots">
          <ng-container *ngFor="let spotEl of Spots">
            <app-spot [Spot]="spotEl"></app-spot>
          </ng-container>
  </div>
  <div class="alert alert-danger" *ngIf="renderErrorSpots">
    <h1>An Error Ocurred</h1>
    <p>{{renderErrorSpots}}</p>
    <button class="btn btn-danger" (click) = "getSpots()">Okay</button>
  </div>
</div>
