<div class="container">
  <form (ngSubmit) = "submitStage(newBookingStage)" #newBookingStage="ngForm" class="form">
    <label for="status" class="form-label">New Status:</label>
    <select class="custom-select" id="status" #status="ngModel" ngModel name="status" required>
      <option value="Created">Created</option>
      <option value="PaymentPending">PaymentPending</option>
      <option value="Accepted">Accepted</option>
      <option value="Rejected">Rejected</option>
      <option value="Expired">Expired</option>
      <option value="Received">Received</option>
    </select>
    <label for="description" class="form-label">Type the Description:</label>
  <textarea rows="3" type="text" #description="ngModel" ngModel name="description" class="form-control"
  id="description" placeholder="Description" required></textarea>
  <div class="form-row">
  </div>
  <hr>
  <div class="row justify-content-md-right">
    <div class="col">
      <button mat-raised-button routerLink="/adm-bookings" color="warn">Cancel</button>
    </div>
    <div class="col">
      <button mat-raised-button color="primary"  type="submit" [disabled] = "!newBookingStage.valid">Create Review</button>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="creationError">
    <h1>An Error Ocurred</h1>
    <p>{{creationError}}</p>
    <button class="btn btn-danger" (click)="creationError=null">Okay</button>
  </div>
  </form>
</div>

